/about.html
/appointment.html
/blog.html
/blogdetails.html
/contact.html
/error-404.html
/faq.html
/login.html
/portfolio-details.html
/portfolio.html
/pricing-plan.html
/privacy-policy.html
/recover-password.html
/register.html
/service-details.html
/service-one.html
/team.html
/terms-of-service.html
/testimonials.html